@import 'tailwindcss';


@font-face{
  font-family: 'Public Sans';
  src:url('/assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 25% 151%;

}
@font-face{
  font-family: 'Public Sans';
  src:url('/assets/fonts//static/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400;
  

}
input{
  border:1px solid var(--beige-500);
  padding:.75rem 1.25rem;
  border-radius: 10px;
}

button:disabled{
  background-color: var(--gray-500);
  cursor: not-allowed;
}


@keyframes dropdown {
  0% {
    scale: 0;
    
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

/* Apply the animation to an element */
.animate-dropdown {
  animation: dropdown 200ms ease-in-out;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-900: #201F24;
    --gray-500: #696868;
    --gray-500-border:#69686844;
    --gray-300: #B3B3B3;
    --gray-100: #F2F2F2;
    --white: #ffffff;
    --beige-500:#98908B;
    --beige-100:#F8F4F0;
    --green:#277C78;
    --cyan:#82C9D7;
    --yellow:#F2CDAC;
    --navy:#626070;
    --red:#C94736;
    --purple:#826CB0;
    --purple-light:#AF81BA;
    --turquoise:#597C7C;
    --brown:#93674F;
    --magenta:#934F6F;
    --blue:#3F82B2;
    --navy-gray:#97A0AC;
    --army-green:#7F9161;
    --gold:#CAB361;
    --orange:#BE6C49;
    --accent:#277C78;

}
dialog::backdrop{
  background: var(--gray-900);
  opacity: .5;
}
.donut{
  filter: blur(0.5px);

}

.delete-button{
  background-color: var(--red)!important;
  color:white;
  padding:1rem;
  border-radius: 10px;
}
.delete-button:hover{
  background-color: #820000!important;
}


header a.active svg path{
  fill: var(--green)
}
@media (max-width:768px){

  header a{
    border-bottom:4px solid transparent;
  }
  header a.active{
    border-bottom:4px solid var(--green);
  
  }
}
@media (min-width:701px){
  header a.active{
    border-left:4px solid var(--green);
  }
}
/*---------RESETS---------*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
header nav ul svg{
  width: 25px;
  height: 25px;
}
/* 2. Remove default margin */
button{
  cursor: pointer;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display:flex;
  width: 100%;
  font-size:16px;
  
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, textarea, select {
  font: inherit;
}
select{
  -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url('../../public/assets/images/icon-caret-down.svg') no-repeat right .75rem center;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
  
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


select, input{
  padding:.75rem 1.25rem;
  border: 1px solid var(--beige-500);
  border-radius: 10px;
  @apply text-[16px] leading-[150%] font-normal;
}
label{
  @apply text-[12px] leading-[150%] font-bold;
  color:var(--gray-500);
  padding:.5rem 0;
}
button[type="submit"]{
  width: 100%;
  background-color: var(--gray-900);
  color:white;
  padding:1rem;
  margin:1rem 0;
  border-radius: 10px;
  @apply text-[12px] leading-[150%] font-bold;
  transition: all 200ms ease-in-out;
}
button[type="submit"]:hover{
  background-color: var(--gray-500);
}
.custom-after-bg {
  position: relative;
}

.custom-after-bg::after {
  content: '';
  background-image: url('/assets/images/icon-caret-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position:absolute;
  top:8px;
  
  margin-left: 0.5rem; /* Adjust as needed */
}

@layer utilities{
  .preset-1{
    @apply text-[32px] leading-[120%] font-bold;
  }
  .preset-2{
    @apply text-[20px] leading-[120%] font-bold;
  }
  .preset-3{
    @apply text-[16px] leading-[150%] font-bold;
  }
  .preset-4{
    @apply text-[14px] leading-[150%] font-normal;
  }
  .preset-4-bold{
    @apply text-[14px] leading-[150%] font-bold;
  }
  .preset-5{
    @apply text-[12px] leading-[150%] font-normal;
  }
  .preset-5-bold{
    @apply text-[12px] leading-[150%] font-bold;
  }
  
}